
/*Wrapper*/
#wrapper {
	background-image: url("../assets/abstract3.jpg");
	background-size: 100%;
}
/*Navigation*/
.tonberryNav {
	font-family: "Meddon", cursive;
}
#dice {
	height: 20px;
	border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#dice:hover {
	-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
ul.nav.nav-pills {
	background-color: black;
}
a {
	color: white;
}

/*Carousel*/
.carousel {
	margin-top: 50px;
	border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    ...
}
h2 {
	font-family: "Meddon", cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Form*/
label {
	font-size: 2.5em;
}
.form {
	margin-top: 2em;
}

.input-group {
	margin: 30px;
}

/*Social Media*/
.icon {
	font-size: 5em;
	margin: 5px;
	box-shadow: 0 -5px 5px -5px white;
}

div.form {
	padding: 10px;
}

.btn.btn-primary  {
	margin-top: 5px;
	width: 100%;
}

button {
	min-height: 46px;
}

/*Footer*/
#footer {
	text-align: center;
	min-height: 50px;
	margin: 5px;
}



